// COLORS
$color-primary: #d73c4f;
$color-primary-light: #e05566;
$color-primary-dark: #b72e40;

$color-secondary-light: #547d85;
$color-secondary-dark: #3b5a60;

$color-tertiary-dark: #787999;
$color-tertiary-light: #9c9eb6;

$color-four-light: #5474A4;

$color-grey-light-1: #809C9D;
$color-grey-light-2: #a4b8b9;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;



$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px