section.contact-form 
    .form 
        h1.form__heading Send us a message
        input.form__name(type='text', placeholder="Your Name",required)
        input.form__email(type='email', placeholder="Email",required)
        input.form__message(type='text', placeholder="Message",required)
        button.form__btn(type='submit') Send