
section.features
    .feature
        svg.feature__icon
            use(xlink:href='/assets/images/symbol.svg#icon-batman')
        h4.feature__title Tailor-Made Packages
        p.feature__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
    .feature
        svg.feature__icon
            use(xlink:href='/assets/images/symbol.svg#icon-transformers')
        h4.feature__title Best Experience
        p.feature__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
    .feature
        svg.feature__icon
            use(xlink:href='/assets/images/symbol.svg#icon-skeletor')
        h4.feature__title Best Service
        p.feature__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
