section.footer
    h2.heading Contact us via
    .sns-icons
            svg.footer__icon
                use(xlink:href='/assets/images/sns.svg#icon-facebook')
            svg.footer__icon
                use(xlink:href='/assets/images/sns.svg#icon-instagram')
            svg.footer__icon
                use(xlink:href='/assets/images/sns.svg#icon-twitter')
            svg.footer__icon
                use(xlink:href='/assets/images/sns.svg#icon-youtube-with-circle')
