section.header#home
    .header__nav 
        a.header__nav__link(href='home', target='#') Home
        a.header__nav__link(href='experince', target='#') Experience
        .header__nav__logo: img(src='/assets/images/logo-2.png')                              
        a.header__nav__link(href='questions', target='#') Questions
        a.header__nav__link(href='about', target='#') About
        a.header__nav__icon(href="#") &#9776;
    
    h1.header__heading Discover land of wonder
    .header__search
        input.header__search__city(type='text', placeholder="Kyoto",required)
        input.header__search__date(type='text', placeholder="23 Sep 2018",required)
        input.header__search__date(type='text', placeholder="21 Oct 2018",required)
        input.header__search__type(type='text', placeholder="Family",required)
        button.header__search__btn(type='submit') &rarr;
                            

