.slidecontrol 
    h1.slidecontrol__title.heading See latest vacation ideas
    .slidecontrol__links
        .slidecontrol__links__link
        .slidecontrol__links__link
        .slidecontrol__links__link--active
        .slidecontrol__links__link
        .slidecontrol__links__link
    