section.vacation-ideas
    .idea.idea--1
        .idea__title-wrap: h3.idea__title Forest Ecsapes
    .idea.idea--2
        .idea__title-wrap: h3.idea__title Sea Attractions
    .idea.idea--3
        .idea__title-wrap: h3.idea__title Temple Discover

        //- .vacation__ideas__wrapper__idea
        //-     .vacation__ideas__wrapper__idea__content.vacation__ideas__wrapper__idea--2
        //-         .vacation__ideas__wrapper__idea__content__wrap: h3.vacation__ideas__wrapper__idea__content__title Temple Discover

        //- .vacation__ideas__wrapper__idea
        //-     .vacation__ideas__wrapper__idea__content.vacation__ideas__wrapper__idea--3
        //-         .vacation__ideas__wrapper__idea__content__wrap: h3.vacation__ideas__wrapper__idea__content__title Main Attractions